* {
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
body {
	background: #2C3E50;
	padding-bottom: 35px;
}
a { text-decoration: none; color: #ddd;}
a:hover { cursor: pointer; }
.hcentre{ text-align: center; }
h1,h2,h3,h4,h5,h6,p, #tagline {
	-webkit-user-select: text;  
	-moz-user-select: text;    
	-ms-user-select: text;      
	user-select: text;
}

#wrap {
	max-width: 900px;
	width: expression(document.body.clientWidth > 901 ? "900px" : "auto"); /* IE6 max-width work-around */
	margin: auto;
	padding-top: 2em;
}

	#header {
		width: 100%;
	}	
		.nav {
			margin-bottom: 10px;
		}
		.nav li{
			display: inline;
		}
		.nav li a {
			font-family: 'Roboto', 'Verdana', sans-serif;
			font-weight: 300;
			font-size: 1.2em;
			color: #ddd;
			padding: 3%;
			text-shadow: 0 1px #000;
		}
		.nav li a:hover{
			color: #CC3C3F;
		}
		#header img {
			max-width: 100%;
			max-height: 100%;
		}
		#vasanta {
			padding: 1em 0 1.5em 0;
			opacity: 0.7;
		}
		#logo {

		}
		#tagline {
			font-family: 'Roboto', 'Verdana', sans-serif;
			font-weight: 300;
			font-size: 1.2em;
			color: #ddd;
			padding: 0.5em 0 0.5em 0;
			text-shadow: 0 1px #000;
		}

	.block {
		background: #fff;
		border-bottom: 10px solid #D7DADB;
		padding: 5%;
		margin-top: 20px;
	}
		.block span {
			display: inline-block;
			vertical-align: middle;
		}
		.block img {
			max-width:100%;
			max-height:100%;
		}
		.featureimg {
			text-align: center;
			width: 30%;
		}
		.featuretext {
			width: 60%;
			margin-left: 5%;
		}
			.featuretext h2 {
				font-family: 'Roboto', 'Verdana', sans-serif;
				font-weight: 300;
				font-size: 1.5em;
				color: #333;
				margin-bottom: 10px;
			}
			.featuretext p {
				font-family: 'Roboto', 'Verdana', sans-serif;
				font-weight: 300;
				color: #777;
				font-size: 1em;
			}
	.buybtn {
		margin-top: 20px;
		width: 100%;
		background: #FC4349;
		border-bottom: solid 10px #8A0205;
		text-align: center;
		padding: 3em 0 3em 0;
		transition: all 0.3s ease 0s;
		webkit-transition: all 0.3s ease 0s;
	}
		.buybtn:hover {
			-webkit-transform: translate(0, 10px);
		    -moz-transform: translate(0, 10px);
		    -o-transform: translate(0, 10px);
		    transform: translate(0, 10px);
			background: #9F2D30;
			border-bottom: solid 0px #8A0205;
		}
		h3 {
			font-family: 'Roboto', 'Verdana', sans-serif;
			font-weight: 500;
			font-size: 3em;
			color: #fff;
			transition: all 0.3s ease 0s;
			webkit-transition: all 0.3s ease 0s;
		}
		.buybtn:hover h3 {
			color: #3A1011;
		}
		.buybtn p {
			font-family: 'Roboto', 'Verdana', sans-serif;
			font-weight: 300;
			font-size: 0.9em;
			color: #fff;
			padding-top: 10px;
			transition: all 0.3s ease 0s;
			webkit-transition: all 0.3s ease 0s;
		}
		.buybtn:hover p {
			color: #3A1011;
		}